<footer class="main-footer" id="main-footer">
    <div class="footer-container">
        <p>
            &copy; {{ now.year }} Grupo de Jovens - Paróquia Nossa Senhora de Guadalupe - Arquidiocese de Vitória, Área pastoral. Todos os direitos reservados.
        </p>

        <div class="footer-contacts mt-1">
            <p><strong>Contatos:</strong></p>
            <ul>
                <li><a href="https://site-ttsolucoes.onrender.com/" target="_blank">Grupo no WhatsApp</a></li>
                <li><a href="https://www.instagram.com/gj.nsguadalupe/" target="_blank">Instagram</a></li>
                <li><a href="https://gj-guadalupe.onrender.com/" target="_blank">Site Oficial</a></li>
            </ul>
        </div>

        <div class="footer-credits mt-2">
            <p>
                Desenvolvido por 
                <a href="https://site-ttsolucoes.onrender.com/" target="_blank" title="Site da TT Soluções">
                    TT Soluções
                </a>
                <br>
                CNPJ: 60.774.248/0001-31 |
                Razão Social: TECH TRACK CONSULTORIA EM TECNOLOGIA DA INFORMAÇÃO LTDA |
                Nome Fantasia: TECH TRACK SOLUÇÕES
            </p>
        </div>
    </div>
</footer>
